/*Resete da pagina*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*Inicio da pagina*/

header {
	height: 120px;
	margin: auto;	

}

.logo{
	float: left;
	margin: 45px 45% 40px 10%;
	color: #D2872C;
	font-weight: bold;
	font-size: 2em;
}

ul{
	padding: 50px 60px 40px 40px;
}

ul li{
	display: inline;
}

ul li a{
	text-decoration: none;
	margin-right: 2px;
	padding: 5px 5px 5px 5px;
	font-size: 20px;
	font-weight: bold;
	color: #766F68;
}

ul li a:hover{
	color: #D2872C;
}

section{
	width: 75%;
	height: 550px;
	margin: auto;	
	
}

.conteudo{
	text-align: left;
	width: 550px;
	height: 450px;

	position: absolute;
}

.titulo{
	font-weight: bold;
	font-size: 60px;
	color: #766F68;
	margin: 30px 0 20px 100px;
}

h2{
	font-size: 25px;
	color: #766F68;
	margin: 30px 0 50px 100px;
}

.botao{
	color: white;
	background-color:#D2872C;
	padding: 15px 50px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 10px;
	margin-left: 100px;
}

.botao:hover{
	padding: 17px 53px;
}

.botao:active{
	padding: 15px 50px;
}

img{
	float: right;
	height: 350px;
	width: 560px;
	margin:50px 20px 0 25px;
}